.containerJB{
    max-width: 600px;
    margin: auto;
    padding: 50px;
    box-shadow: inset;
}
/*body{
    padding: 50px;
}*/
.jetBirdForm{
    margin-bottom: 30px;
}
.jetBirdBooking .jetBirdBookForm{
    padding: 2rem;
    background: var(--ligh-bg);
}
.jetBirdBooking .jetBirdBookForm .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.jetBirdBooking .jetBirdBookForm .flex .inputBox{
    flex: 1 1 42rem;
}
.jetBirdBooking .jetBirdBookForm .flex .inputBox input{
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: var(--ligh-bg);
    text-transform: none;
    margin-top: 1.5rem;
    border: var(--border);
}
.jetBirdBooking .jetBirdBookForm .flex .inputBox input:focus::placeholder{
    background: var(--black);
    color: var(--ligh-white);
}